.button-accent {
  all: unset;
  border-radius: 6px;
  padding: 8px 30px;
  font-family: inherit;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  border: none;
  color: rgb(221, 10, 10);
}
.button-accent:hover {
    border-color: #222096;
}
