.cl {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: block;
    width: 100%;
}

.cl:hover {
    background: rgb(255, 255, 255, 0.10);
}