.journal-item {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.753);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.journal-item__header {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-align: start;
}

.journal-item__date {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
}

.journal-item__text {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
}

.journal-item__body {
    display: flex;
    gap: 10px;
}